* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    
}
@font-face {
    font-family: myfont;
    src: url(Dash-Horizon-Demo.otf);
}
.Guess,.the,.Word{
    font-family: 'myfont';
}
:root{
    --primary:yellow;
    --wh:white;
    --bl:black;
    --blue:#1F9EE8;
    --orng:#FF1902;
    --secondary-blue:#74b9ff;
    --bg:#161E3B;
}

.container{
    height: 98vh;

}
.game-row{
    height: 100%;
}
.game-box{
    height: 80vh;
 
    position: relative;
    overflow: hidden;
}
.word-box{
    height: 70px;
    border-radius: 10px;
    background-color:var(--wh);
}
h1{
    width: auto;
    text-align: center;
    color:var(--wh);
}



.placeholder{
    height: 25px;
    width: 25px;
    background-color:var(--primary);
    border-radius: 50px;
}

/* Add this CSS to set the video as the background */
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other content */
}

.game-box {
    position: relative; /* Position relative for absolute positioning of the video */
    /* background: rgba(0, 0, 0, 0.5); Add a semi-transparent background for better readability */
    padding: 20px;
    border-radius: 30px;
}
.game-inner-row{
    text-transform: uppercase;
}
.input-box{
 
    display: flex;
    justify-content: space-around;
}
.input-box input{
    margin: auto;
   height: 50px;
   width: 50px;
   
   font-size: 15px;
 
   text-transform: uppercase;
   border-radius: 10px;
 
   font-weight: 600;
   border: 3px solid var(--orng);
   background-color: transparent;
   color: var(--wh);
  
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 14px;
}

.word-box {
    background-color:var(--bl);
    color: var(--wh);
    border-radius: 10px;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    box-shadow: 0 0 10px var(--primary);
    animation: neon-glow 1.5s infinite alternate;
  }
  
  @keyframes neon-glow {
    to {
      box-shadow: 0 0 10px var(--primary),
                  0 0 15px var(--primary),
                  0 0 10px var(--primary);
    }
  }
  
/* message */
.message{
    text-align: center;
    color: var(--wh);
}

.Guess{
    color: var(--secondary-blue);
    font-weight: 600;
}
.Word{
    color: var(--orng);
    font-weight: 600;
}


/* popup secction */

.popup {
    width: 100%;
    height: 100%;
    background-color: var(--wh);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: none;

    font-weight: 700;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    border: 10px solid var(--primary);
}

.popup button1{
    width: 50%;
    font-weight: 700;

    margin: auto;
}
.popup h2{
    border: 2px solid var(--bg);
    margin-top: 10%;
    padding: 20px;
    border-radius: 15px;
    font-weight: 700;

}


.hint .hint-text{
    text-align: center;
    font-size: 12px;
    padding: 3px;
    color: var(--wh);
   
}

.attempt h4{
    color: var(--wh);
    text-align: center;
}


/*  */

.settings-container {
    position: relative;
    display: inline-block;
  }
  
  .settings-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top:10px;
    right: 10px;
  }
  .settings-icon img{

    width: 100%;
    height: 100%;
  }
  .options-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    font-weight: 500;
    border-radius: 20px;
    right: -5px;
    overflow: hidden;
    background-color:var(--wh);
   
    z-index: 1;
    border: 5px solid  var(--orng);
  }
  
  .options-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 20px;
  }
  
  .options-dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .options-dropdown li:hover {
    background-color: var(--orng);
  }
  
  .settings-container:hover .options-dropdown {
    display: block;
  }
  

  .incorrect {
    color: var(--orng);
    position: relative;
}

.incorrect:after {
    content: "";
    width: 120%;
    height: 2px;
    background-color: var(--orng); /* Adjust the color as needed */
    position: absolute;
    top: 18px; /* Adjust this value to control the distance between the line and the letter */
    left: -3px;
}
